
:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --WhiteColor: hsl(0, 0%, 100%);
    --blacColor: hsl(0, 0%, 18%);
    --TextColor: hsl(240, 1%, 48%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --InputColor: hsl(330, 12%, 97%);
}

.navBarSection .header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
}
.header .logoDiv .logo{
    color: var(--PrimaryColor);
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.headerBtns{
    margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
    .navBar{
        background: var(--greyBg);
        position: absolute;
        height: max-content;
        padding: 1rem;
        width: 100%;
        top: 0;
        left: -500%;
        box-shadow: 0 2px 4px rgba(209, 209, 209, 0,904);
        transition: .5s ease;
        z-index: 1000;
    }
    .navLists{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    .navItem{
        padding: 1rem 0;
    }
    .navLink{
        color: var(--TextColor);
        font-size: .9rem;
        font-weight: 600;
    }
    .navLink:hover{
        color: var(--PrimaryColor);
    }
    .headerBtns{
        flex-direction: column;
    }
    .headerBtns.btn{
        margin-top: 1rem;
    }
    .headerBtns .btn a{
        font-weight: 600;
    }
    .btn a:hover{
        color: var(--WhiteColor);
    }
    .loginBtn{
        background: none;
        border: 1px solid var(--PrimaryColor);
    }
    .loginBtn a{
        color: var(--PrimaryColor);
    }
    .loginBtn:hover{
        background: var(--HoverColor);
        color: var(--WhiteColor);
    }
    .closeNavbar{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: var(--PrimaryColor);
    }
    .closeNavbar .icon:hover{
        color: var(--HoverColor);
    }
    .activeNavbar{
        left: 0;
    }
    .togleNavbar .icon{
        font-size: 25px;
        color: var(--WhiteColor);
    }
    .togleNavbar .icon:hover{
        color: var(--PrimaryColor);
    }
}

.navBarSection .activeHeader{
    background: var(--greyText);
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}

@media screen and (min-width: 769px) {
    .togleNavbar, .closeNavbar{
        display: none;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .navBar .navLists{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .navItem .navLink{
        color: var(--WhiteColor);
        padding: 0 .45rem;
        font-size:  .9rem;
        font-weight: 400;
    }
    .navItem .navLink:hover{
        color: var(--PrimaryColor);
    }
    .headerBtns .btn{
        margin-left: 1rem;
    }
    .headerBtns .btn a{
        color: var(--WhiteColor);
        font-weight: 500;
    }
    .loginBtn{
        background: none;
        border: 1px solid var(--PrimaryColor);
    }
    .loginBtn:hover{
        background: var(--PrimaryColor);
    }
    .loginBtn a:hover{
        color: var(--WhiteColor);
    }
}
@media screen and (min-width: 960px){
    .header .navBar .navLists .navItem{
        padding: 0 .7rem;
    }
}
@media screen and (min-width: 1024px){
    .header{
        padding: 1rem 8.5rem !important;
    }
}