
:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --WhiteColor: hsl(0, 0%, 100%);
    --blacColor: hsl(0, 0%, 18%);
    --TextColor: hsl(240, 1%, 48%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --InputColor: hsl(330, 12%, 97%);
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);

}
.offer .secContainer .mainContent{
    gap: 1rem;
}
.offer .singleOffer{
    border-radius: 1rem;
    overflow: hidden;
    padding: .5rem;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);

}
.singleOffer .icon{
    font-size: 20px;
    color: var(--TextColor);
}
.mainContent .destImage{
    position: relative;
    height: 200px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;

}
.mainContent .destImage img{
    height: 100%;
}
.mainContent .destImage .discount{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background: var(--PrimaryColor);
    color: var(--WhiteColor);
    border-radius: 3rem;
    font-size: 10px;
    font-weight: 500;
}
.singleOffer .offerBody{
    padding: 1rem;
}
.offerBody .price{
    justify-content: space-between;
}
.offerBody .price h4{
    color: var(--blacColor);
    font-weight: 700;
    font-size: 1.1rem;
}
.offerBody .status{
    padding: 5px 10px;
    color: var(--HoverColor);
    background: var(--greyBg);
    font-size: 10px;
    font-weight: 600;
    border-radius: 3rem;
}
.offerBody .amenitites{
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem 0;
    gap: .5rem;
}
.amenitites .singleAmenity{
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--greyBg);
    gap: .5rem;
}
.singleOffer .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: .6rem;
    color: var(--WhiteColor);
    font-weight: 600;
    gap: .5rem;
}
.singleOffer .btn .icon{
    color: var(--WhiteColor);
}
.offerBody:hover{
    transform: translateY(-7px);
}